*{
    margin: 0;
    padding: 0;
    
}





body{
    background: url(https://picsum.photos/2080/980) no-repeat fixed;
    background-size: cover;
    background-position: center;
}


.main-background{
    
    background-color: rgba(175, 165, 219,0.5 );
    margin: 5em;
    padding: 2em;

    border-radius: 5em;

    
    
 

}

.header{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 5%;
    
     
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0.05em 0.05em white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.form{
   

    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;


  
}

.todo-input{
    min-width: 50%;
    
}

.todo-input,.todo-add-btn{
    
    
    min-height: 5%;
    padding: 1%;
}

.todo-list{
    list-style-type: none;

    margin-left: 5%;
    margin-right: 5%;
    
    

    display: flex;
    flex-direction: column;

    justify-content: center;
    
    

    
    
    
}

.todo-list-item{
    margin: 1em;
    padding: 0.5em;

    background-color: white;
    border-radius: 0.5em;
   

    display: flex;
    flex-direction: row;
    align-items: center;

    /*ekleme cikarma animasyonunun suresi*/
    transition: 2s ease-in-out;

    flex-wrap: nowrap;
    overflow: hidden;
}

.todo-list-item-checked{
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-list-item-deleted{
    /*0 olana kadar küçükt*/
    transform: scale(0);
}

.todo-text{
    flex: 1;
}

.todo-check-btn{
    background-color: green;
}

.todo-delete-btn{
    background-color: red;
}

.clear-btn{
    opacity: 0.2;
    font-size: 1%;
}


.todo-check-btn,.todo-delete-btn ,.clear-btn{
    padding: 0.5em;
    margin-left: 0.5em;
}


